{% extends 'main.html' %}

{% block content %}
	<p>WHAT ARE THE REQUIREMENTS FOR PYTHON TEXT GAMES?</p>
	<p>The games will run on any computer with Python installed.</p>
	<br><br>
	<p>HOW CAN I INSTALL PYTHON?</p>
	<p>It depends...</p>
	<p>If you use Windows then you can download it from here: <a class="alink"  target="_blank" href="https://www.python.org/downloads/windows/">link</a></p>
	<p>If you use MacOS then you can download it from here: <a class="alink"  target="_blank" href="https://www.python.org/downloads/macos/">link</a></p>
	<p>If you use Linux then you can download it from here: <a class="alink"  target="_blank" href="https://www.python.org/downloads/source/">link</a></p>
	<p>After downloading, just follow the installer. But If you use Linux you should already have Python installed.</p>
	<br><br>
	<p>HOW CAN I LAUNCH THE PYTHON TEXT GAMES?</p>
	<p>It depends...</p>
	<p>If you use Windows then you can just double-clik on the game's file and it should run.</p>
	<p>Same if you use macOS.</p>
	<p>But if you use Linux then you have to use a terminal and "python" command to run a game.</p>
	<p>For example: python john_pro.py</p>
{% endblock %}
