{% extends 'main.html' %}

{% block content %}
	<p>Python Text Games (PTG) is a response to the mainstream of video games. The idea is not based on negating</p>
	<p>the direction in which electronic entertainment is heading. This is just an alternative path of development that aims</p> 
	<p>to push the world of electronic entertainment in the opposite direction. We appreciate the skills of developers creating</p>
	<p>VR games and we are aware of the possibilities of this technology and all the benefits resulting from it. We do not mind</p>
	<p>raising funds by selling these games because we know that money is needed not only for progress but also for fair</p> 
	<p>remuneration of those for whom game development is a job. We respect the privacy of large companies and the fact that</p>
	<p>they do not make their code publicly available. Nevertheless, we do something completely different...</p>
	<br><br>
	<p>1. Our games are based on simple code. They are devoid of graphics and are based only on a written story.</p>
	<p>2. Our games do not absorb the player's imagination, but are designed to stimulate it.</p>
	<p>3. Our games are focused on an interesting story, not on gameplay.</p>
	<p>4. Our games do not require expensive equipment to play them.</p>
	<p>5. Our games are made by passionate amateurs.</p>
	<p>6. Our games are completely free.</p>
	<p>7. Our games are open. All their code is publicly available.</p>
	<br><br>
	<p>We create a community that wants to develop this project together and make new friends. Feel invited!</p>
	<br><br><br><br><br><br><br>
	<p>MAP:</p>
	<br><br>
	<p>GAMES - here you can download complete games.
	<p>COMMUNITY - here you can find our server on Discord and join our inner world.</p>
	<p>STATUTE - here you can find rules of this website.</p>
	<p>FAQ - here you can find answers to the most common technical questions.</p>
{% endblock %}