{% extends 'main.html' %}

{% block content %}
    <p>1. If you intend to use this website, you automatically declare that you have read the statute and agree with its content.</p>
    <p>2. The superuser may change the content of the statute at any time without agreeing the changes with anyone else.</p> 
    <p>(last update 2023-03-29)</p>
    <p>3. The administration of the site is not responsible for the detailed content posted in the games by their developers.</p>
    <p>All possible content is allowed in the games (including profanity, violence, sex, drugs, etc.) Developers are only required</p>
    <p>to state the age rating (adults only/all) of their games in the catalogue. Nevertheless, they are not responsible if some</p>
    <p>wrong person plays their game. Let's respect each other and the freedom of others... and take responsibility for ourselves.</p>
{% endblock %}